.form {
    width: 50%;
    margin-bottom: 48px;
    margin-left: 15px;
  }
  .label {
    position: relative;
  }
  .searchInput {
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 16px 10px 50px;
    color:white;
    font-size: 18px;
    transition: border-color var(--duration) var(--transition-function);
  }
  .searchIcon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
    line-height: 0;
  }
  .searchInput:focus {
    border-color: gold;
  }